<div class="user-container">  
  <!-- app/views/users/index.html.erb -->
  <h1>User Profile</h1>

  <div class="user-profile">
    <%= link_to 'Back to Welcome Page', welcome_index_path, class: 'btn btn-primary' %>
    <!-- Add more user attributes as needed -->
  </div>
</div>
