<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h1>Welcome to CUDiningPair!</h1>
    <p>Your verification code is: <%= @code %></p>
    <p>Please enter this code in the provided space on our website to complete your registration.</p>
</body>
</html>