// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	height: 80vh; 
  }

.btn-primary {
    font-size: 15px;
	margin-top: 20px;  /* Adjust the font size for primary buttons */
}

.form-container {
    margin-top: 20px;
}